page-home {
    .logo_color_1 {
        color: rgb(205, 205, 206)
      }
      .mdc-component__toolbar .mdc-toolbar__title {
        padding-left: 8px;
        font-size: x-large;
      }
      .logo_color_2 {
        color: #00B8D4
      }
      .toolbar-spacer {
        flex: 1 1 auto;
      }
}
